[Desktop Entry]
Version=0.1.0
Type=Application
Terminal=true
Exec=rushi
Name=rushi
Comment=A shell to oxidize your terminal
Icon=rushi
# "Shell" would be the proper category, but it's reserved so we can't use it.
Categories=ConsoleOnly;System;
