[Desktop Entry]
Version=0.1.0
Type=Application
Terminal=true
Exec=shards --shell-hint rush
Name=shards
Comment=A shell sent from mars
Icon=shards
Categories=ConsoleOnly;System;
